:root {
    --primary: #00A5CF;
    --secondary: #004E64;
    --accent: #7AE582;
}

* {
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    margin: 0;
    background: #F5F5F5;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    max-width: 500px;
    width: 100%;
}

.login-card {
    background: white;
}

.link {
    color: var(--secondary);
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.text-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    .text-input span {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .text-input input {
        font-size: 16px;
        padding: 8px;
        border: 1px solid #DEDEDE;
        border-radius: 6px;
    }

.input-validation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.multiple-validation {
    position: relative;
    flex: auto;
}

    .multiple-validation > span {
        position: absolute;
        right: 0;
    }

.button {
    font-size: 18px;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid var(--secondary);
    background-color: var(--primary);
    border-radius: 6px;
    color: white;
    width: 100%;
    cursor: pointer;
    transition: background-color linear 0.15s;
}

    .button:hover {
        background-color: #0095ba;
    }

/*#region Dashboard layout*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: white;
    border-bottom: 1px solid var(--accent);
}

    .header > img {
        height: 50px;        
    }

.content-container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 67px);
    height: 100%;
}

.sidenav {
    display: flex;
    gap: 8px;
    flex-direction: column;
    border-right: 1px solid var(--accent);
    width: 180px;
    padding: 8px;
    background-color: white;
}

    .sidenav > a {
        padding: 8px;
        text-decoration: none;
        border-radius: 10px;
        border: 1px solid white;
        color: var(--secondary);
        transition: border-color linear 0.15s;
    }

        .sidenav > a:hover {
            border-color: var(--accent);        
        }

.content {
    position: relative;
    flex: auto;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

.account-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

    .account-link > span {
        color: var(--secondary);
    }

    .account-link > img {
        height: 30px;
    }
/*#endregion */